<!DOCTYPE html>
<html>
  <head>
    <% include ../common/resources %>
  </head>
  <body>
    <% include ../common/header %>
    <div class="container post post-index">
      <div class="buttons">
        <a class="btn btn-default pull-right" href="/new">새글쓰기</a>
      </div>

      <table class="table table-striped posts">
        <thead>
          <tr>
            <th class="title">번호</th>
            <th class="title">제목</th>
            <th class="date">작성일</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="">1</td>
              <td class="title"><a href="/show"><div>sample 1</div></a></td>
              <td class="date">20161130</td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="title"><a href=""><div>sample 2</div></a>
              </td><td class="date">20161130</td>
            </tr>
            <tr>
              <td class="">3</td>
              <td class="title"><a href=""><div>sample 3</div></a></td>
              <td class="date">20161130</td>
            </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
